body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.card {
    width: 420px;
    padding: 25px;
    border-radius: 15px;
    background: white;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

input, select {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.swap-btn {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.convert-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}

.result {
    margin-top: 15px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 10px;
}